{% extends 'base/base.html' %}

{% block footer %}
{% endblock %}

{% block title %}
    订单列表
{% endblock %}

{% block content %}
    <div class="orderlist">
        {% for order in orders %}
            <p class="bg-info">
                <a href="{% url 'axf:orderdetail' order.identifier %}">
                    订单号: {{ order.identifier }} --
                    {% if order.status == 0 %}
                        未付款
                    {% elif order.status == 1 %}
                        待发货
                    {% elif order.status == 2 %}
                        待收货
                    {% elif order.status == 3 %}
                        待评价
                    {% elif order.status == 4 %}
                        已评价
                    {% endif %}
                </a>
            </p>
            <br>
        {% endfor %}
    </div>
{% endblock %}