<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block css %}
    {% endblock %}

    {% block js1 %}
    {% endblock %}
</head>
<body>
{% block header %}
{% endblock %}

{% block article %}
    {% block aside %}
    {% endblock%}

    {% block main %}
    {% endblock%}

{% endblock %}

{% block footer %}
{% endblock %}

{% block js2 %}
{% endblock %}
<a href="#" class="cd-top">Top</a>
</body>
</html>