{% extends 'web/base.html' %}

{% block css %}
<link href="/static/web/css/base.css" rel="stylesheet">
<link href="/static/web/css/index.css" rel="stylesheet">
<link href="/static/web/css/info.css" rel="stylesheet">
<link href="/static/web/css/m.css" rel="stylesheet">
{% endblock %}

{% block js1 %}
<script src="/static/web/js/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript" src="/static/web/js/hc-sticky.js"></script>
<script type="text/javascript" src="/static/web/js/comm.js"></script>
<script src="/static/web/js/scrollReveal.js"></script>
<!--[if lt IE 9]>
<script src="/static/web/js/modernizr.js"></script>

<![endif]-->
<!--<script type="text/javascript">-->
<!--/*鼠标特效 */-->
  <!--/*这个方法用来随机一个十六进制颜色代码，让每一次点击浮动文字的杨色不同*/-->
  <!--function co(){-->
   <!--var colorElements = "0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f";-->
    <!--var colorArray = colorElements.split(",");-->
    <!--var color ="#";-->
    <!--for(var i =0;i<6;i++){-->
    <!--color+=colorArray[Math.floor(Math.random()*16)];-->
    <!--}-->
    <!--return color;-->
<!--};-->
<!--var a_idx = 0;-->
<!--jQuery(document).ready(function($) {-->
<!--$("body").click(function(e) {-->
    <!--/*这个数组中的每一个字符是你要浮动显示的词或句子，每次点击鼠标后按顺序出现*/-->
    <!--var a = new Array("富强", "民主", "文明", "和谐", "自由", "平等", "公正" ,"法治", "爱国", "敬业", "诚信", "友善");-->
    <!--var $i = $("<span/>").text(a[a_idx]);-->
    <!--a_idx = (a_idx + 1) % a.length;-->
    <!--var x = e.pageX,-->
    <!--y = e.pageY;-->
    <!--$i.css({-->
   <!--"z-index": 999999999999999999999999999999999999999999999999999999999999999999999,-->
   <!--"top": y - 20,-->
   <!--"left": x,-->
   <!--"position": "absolute",-->
   <!--"font-weight": "bold",-->
   <!--"color": co()-->
    <!--});-->
    <!--$("body").append($i);-->
    <!--$i.animate({-->
   <!--"top": y - 180,-->
   <!--"opacity": 0-->
    <!--},-->
    <!--1500,-->
    <!--function() {-->
   <!--$i.remove();-->
    <!--});-->
<!--});-->
<!--});-->
<!--</script>-->
#####################
<script type="text/javascript">
    jQuery(document).ready(function($){$("html,body").click(function(e){var n=Math.round(Math.random()*100);var $i=$("<b/>").text("+"+n);var x=e.pageX,y=e.pageY;$i.css({"z-index":99999,"top":y-20,"left":x,"position":"absolute","color":"#E94F06"});$("body").append($i);$i.animate({"top":y-180,"opacity":0},1500,function(){$i.remove();});e.stopPropagation();});});
</script>


{% endblock %}

{% block header %}
    <header class="header-navigation" id="header">
    <nav>
        <div class="logo"><a href="{{ url_for('web.index') }}">xml-小书屋</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li><a href="{{ url_for('web.index') }}">网站首页</a></li>
            <!--<li><a href="share.html">我的相册</a></li>-->
            <li><a href="{{ url_for('web.list') }}">我的文章</a></li>
            <li><a href="{{ url_for('web.about') }}">关于我</a></li>
            <!--<li><a href="gbook.html">留言</a></li>-->
            <li><a href="{{ url_for('web.info') }}">本站热点</a></li>
            <!--<li><a href="infopic.html">照片详情</a></li>-->
        </ul>
    </nav>
</header>
{% endblock %}

{% block footer %}
<footer>
    <p>Design by <a href="https://www.jianshu.com/u/332fe4e135be" target="_blank">我的简书</a> </p>
</footer>
{% endblock %}



