<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>多对多</title>
</head>
<body>

<p>
    <a href="/app/adduser/">
        添加用户
    </a>
</p>

<p>
    <a href="/app/addgoods/">
        添加商品
    </a>
</p>

<p>
    <a href="/app/addcart/">
        添加购物车
    </a>
</p>

<p>
    <a href="/app/showcart/">
        显示购物车
    </a>
</p>

<p>
    <a href="/app/addcollect/">
        添加收藏
    </a>
</p>

<p>
    <a href="/app/showgoods/">
        显示商品(收藏数量)
    </a>
</p>

</body>
</html>