{% extends 'back/category.html' %}

{% block cate %}
    <div class="col-md-5">
      <h1 class="page-header">添加文章分类</h1>
      <form action="" method="post" autocomplete="off">
          {{ error }}
        <div class="form-group">
          <label for="category-name">栏目名称</label>
          <input type="text" id="category-name" name="atype" class="form-control" placeholder="在此处输入栏目名称" required autocomplete="off">
          <span class="prompt-text">这将是它在站点上显示的名字。</span> </div>
        <button class="btn btn-primary" type="submit" name="name">添加新栏目</button>
      </form>
    </div>
{% endblock %}

{% block manage %}
{% endblock %}