
{% extends 'back/base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/back/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/back/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/back/css/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" href="/static/back/images/icon/icon.png">
    <link rel="shortcut icon" href="/static/back/images/icon/favicon.ico">
{% endblock %}


{% block js1 %}
    <script src="/static/back/js/jquery-2.1.4.min.js"></script>
{% endblock %}


{% block header %}
    <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="{{ url_for('back.w_index')}}" title="跳转前台首页">XML-BLOG</a> </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">消息 <span class="badge">1</span></a></li>
            <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ username }} <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li><a title="查看或修改个人信息" data-toggle="modal" data-target="#seeUserInfo">个人信息</a></li>
                <li><a title="查看您的登录记录" data-toggle="modal" data-target="#seeUserLoginlog">登录记录</a></li>
              </ul>
            </li>
            <li><a href="{{ url_for('back.logout')　}}" onClick="if(!confirm('是否确认退出？'))return false;">退出登录</a></li>
            <li><a data-toggle="modal" data-target="#WeChat">帮助</a></li>
          </ul>
          <form action="" method="post" class="navbar-form navbar-right" role="search">
            <div class="input-group">
              <input type="text" class="form-control" autocomplete="off" placeholder="键入关键字搜索" maxlength="15">
              <span class="input-group-btn">
              <button class="btn btn-default" type="submit">搜索</button>
              </span> </div>
          </form>
        </div>
      </div>
    </nav>
  </header>
{% endblock %}

{% block aside %}
    <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="{{ url_for('back.index') }}">后台首页</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ url_for('back.article') }}">文章列表</a></li>
        <li><a href="{{ url_for('back.notice') }}">公告</a></li>
        <li><a href="{{ url_for('back.comment') }}">评论</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="{{ url_for('back.a_type') }}">文章分类</a></li>
        <li><a href="{{ url_for('back.flink') }}">友情链接</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a class="dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">用户</a>
          <ul class="dropdown-menu" aria-labelledby="userMenu">
            <li><a href="{{ url_for('back.manage_user') }}">管理用户</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('back.loginlog') }}">管理登录日志</a></li>
          </ul>
        </li>
        <li><a class="dropdown-toggle" id="settingMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">设置</a>
          <ul class="dropdown-menu" aria-labelledby="settingMenu">
            <li><a href="{{ url_for('back.setting') }}">基本设置</a></li>
            <li><a href="{{ url_for('back.readset') }}">用户设置</a></li>
          </ul>
        </li>
      </ul>
    </aside>
{% endblock%}
















