<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block css %}
    {% endblock %}
    {% block js1 %}
    {% endblock %}
</head>
<body>
<section class="container-fluid">
    {% block header %}
    {% endblock %}
    <div class="row">
        {% block aside %}
        {% endblock%}

        {% block content %}
        {% endblock %}
    </div>
</section>

    {% block js2 %}
    {% endblock %}
</body>
</html>