<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>超级管理员注册</title>
<link rel="stylesheet" type="text/css" href="/static/back/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/back/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/back/css/login.css">
<link rel="apple-touch-icon-precomposed" href="/static/back/images/icon/icon.png">
<link rel="shortcut icon" href="/static/back/images/icon/favicon.ico">
<script src="/static/back/js/jquery-2.1.4.min.js"></script>
<!--[if gte IE 9]>
    <script src="/static/back/js/jquery-1.11.1.min.js"
            type="text/javascript"></script>
    <script src="/static/back/js/html5shiv.min.js" type="text/javascript"></script>
    <script src="/static/back/js/respond.min.js" type="text/javascript"></script>
    <script src="/static/back/js/selectivizr-min.js"
            type="text/javascript"></script>
    <![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>

<body class="user-select">
<div class="container">
  <div class="siteIcon"><img src="/static/back/images/icon/icon.png" alt="" data-toggle="tooltip" data-placement="top" title="这可能是你最喜欢的博客" draggable="false" /></div>
  <form action="" method="post" autocomplete="off" class="form-signin">
      <h2 class="form-signin-heading">站点后台管理系统</h2>{{ error }}
      <label for="userName" class="sr-only">账号</label>
      <input type="text" id="userName" name="username" class="form-control" placeholder="请输入用户名" required autofocus autocomplete="off" maxlength="10">
      <label for="userPwd" class="sr-only">密码</label>
      <input type="password" id="userPwd" name="password" class="form-control" placeholder="请输入密码" required autocomplete="off" maxlength="18">
      <label for="userPwd" class="sr-only">确认密码</label>
      <input type="password" id="userPwd2" name="password2" class="form-control" placeholder="请确认密码" required autocomplete="off" maxlength="18">
      <button class="btn btn-lg btn-primary btn-block" type="submit" id="signinSubmit">火速注册</button>
  </form>

</div>
<script src="/static/back/js/bootstrap.min.js"></script>
<script>
$('[data-toggle="tooltip"]').tooltip();
window.oncontextmenu = function(){
	//return false;
};
$('.siteIcon img').click(function(){
	window.location.reload();
});
$('#signinSubmit').click(function(){
	if($('#userName').val() === ''){
		$(this).text('用户名不能为空');
	}else if($('#userPwd').val() === ''){
		$(this).text('密码不能为空');
	}else{
		$(this).text('请稍后...');
	}
});
</script>
</body>
</html>
