{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    注册
{% endblock %}

{% block footer %}
{% endblock %}

{% block extcss %}
    <link rel="stylesheet" href="{% static 'mine/css/registe.css' %}">
{% endblock %}

{% block extjs %}
    <script src="{% static 'mine/js/registerr.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="register">
        <div class="back">
            <a href="{% url 'axf:mine' %}">
                <span class=" glyphicon glyphicon-remove "></span>
            </a>
        </div>

        <form action="{% url 'axf:register' %}" method="post">
            {% csrf_token %}


            <div class="form-group has-feedback" id="email">
                <div class="input-group">
                    <span class="input-group-addon">邮箱</span>


                    <input type="text" class="form-control" placeholder="163邮箱/QQ邮箱.." name="email" id="email-t"
                           data-toggle="popover" data-placement="bottom"
                           data-content="格式不正确">

                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>


            <div class="form-group has-feedback" id="password">
                <div class="input-group">
                    <span class="input-group-addon">密码</span>
                    <input type="password" class="form-control" placeholder="6~10位数密码" name="password">
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>


            <div class="form-group has-feedback" id="password-d">
                <div class="input-group">
                    <span class="input-group-addon">确认密码</span>
                    <input type="password" class="form-control" placeholder="6~10位数密码" id="password-t"
                           tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="bottom"
                           data-content="两次密码不一致">
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>


            <div class="form-group has-feedback" id="name">
                <div class="input-group">
                    <span class="input-group-addon">昵称</span>
                    <input type="text" class="form-control" placeholder="3~10位数(昵称)" name="name">
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>

{#             submit按钮有特殊功能，提交功能#}
{#            <input type="submit" value="注册" id="subButton" disabled class="form-control">#}
        </form>

        <button id="subButton">注册</button>
    </div>
{% endblock %}